.default-color0.chart-series-line { -fx-stroke: DarkRed; }
.default-color0.chart-series-line{ -fx-stroke-width: 1px;}

.default-color0.chart-line-symbol {
    -fx-background-color: transparent, transparent;
}

.default-color0.chart-legend-item-symbol{
    -fx-background-color: DarkRed;
}